# Base model (non-chat) evaluation config
# base_model_name: "Gensyn/Qwen2.5-0.5B-Instruct"
base_model_name: "Qwen/Qwen3-0.6B"
is_chat_model: true

batch_size: 8
max_new_tokens: 256
temperature: 0.7

datasets:
  gsm8k:
    enabled: true
    split: "test[:]"
    max_new_tokens: 1024
  
  snli:
    enabled: true
    split: "test[:]"
    max_new_tokens: 10
  
  boolq:
    enabled: true
    split: "validation[:]"
    max_new_tokens: 10

  arc_easy:
    enabled: true
    split: "test[:]"
    max_new_tokens: 10

output_path: "results/{model_name}/{timestamp}.json"
