# LoRA model evaluation config
model_name: "Qwen-Qwen3-0.6B-lora-finetuned"
is_chat_model: true
base_model_name: "Qwen/Qwen3-0.6B"
lora_adapter_path: /home/rajmahes/taskweaver/src/lora/lora_weights/Qwen-Qwen3-0.6B-lora-finetuned-openai-gsm8k

batch_size: 8
max_new_tokens: 128

datasets:
  gsm8k:
    enabled: true
    split: "test[:]"
    max_new_tokens: 1024

  # boolq:
  #   enabled: true
  #   split: "validation[:]"
  #   max_new_tokens: 10
  
  # snli:
  #   enabled: true
  #   split: "test[:]"
  #   max_new_tokens: 10
  
  # arc_easy:
  #   enabled: true
  #   split: "test"
  #   max_new_tokens: 10

output_path: "results/{model_name}/{timestamp}.json"
