# LoRA model evaluation config
base_model_name: "Qwen/Qwen3-0.6B"
lora_adapter_path: /home/rajmahes/taskweaver/src/lora/lora_weights/Qwen-Qwen3-0.6B-lora-finetuned-openai-gsm8k
model_name: "Qwen-Qwen3-0.6B-lora-finetuned"  # Optional: display name for outputs
is_chat_model: true

batch_size: 8
max_new_tokens: 128

datasets:
  openai/gsm8k.main:
    enabled: true
    split: "test[:]"
    max_new_tokens: 1024

  # google/boolq:
  #   enabled: true
  #   split: "validation[:]"
  #   max_new_tokens: 10
  
  # stanfordnlp/snli:
  #   enabled: true
  #   split: "test[:]"
  #   max_new_tokens: 10
  
  # allenai/ai2_arc.ARC-Easy:
  #   enabled: true
  #   split: "test"
  #   max_new_tokens: 10

output_path: "results/{model_name}/{timestamp}.json"
